In [1]:
import os
import sys
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from torch import nn

print(torch.__version__)

notebook_dir = os.getcwd()
model_b_root = os.path.abspath(os.path.join(notebook_dir, ".."))
project_root = os.path.abspath(os.path.join(notebook_dir, "../../.."))
print(model_b_root)
print(project_root)

if model_b_root not in sys.path:
    sys.path.append(model_b_root)
    
if project_root not in sys.path:
    sys.path.append(project_root)

2.2.2
/Users/damianstone/Documents/Code/machine-learning/dl-sepsis-prediction/models/model_B
/Users/damianstone/Documents/Code/machine-learning/dl-sepsis-prediction

In [2]:
from preprocess import preprocess_data

X_train, X_test, y_train, y_test = preprocess_data(
  use_last_processed_data=True, 
  data_file_name="big_imputed_sofa")

Project root: /Users/damianstone/Documents/Code/machine-learning/dl-sepsis-prediction
Loaded from last processed data

In [3]:
X_train.head(5)

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,PTT,WBC,Fibrinogen,Platelets,Age,Gender,HospAdmTime,ICULOS,patient_id,SOFA
126,61.0,98.000000,36.853929,127.0,87.000000,69.995604,15.000000,35.444444,2.395556,25.471622,...,39.177551,10.352941,417.166667,239.026786,28.09,1,-0.05,16,5,4
127,88.0,98.000000,37.280000,140.0,91.153846,69.995604,14.363636,35.444444,2.395556,25.471622,...,39.177551,10.352941,417.166667,239.026786,28.09,1,-0.05,28,5,4
128,65.5,98.000000,36.853929,123.0,91.846154,69.995604,14.090909,35.444444,2.395556,25.471622,...,39.177551,10.352941,417.166667,239.026786,28.09,1,-0.05,25,5,4
129,80.0,97.285714,36.853929,136.0,87.923077,69.995604,15.636364,35.444444,2.395556,25.471622,...,39.177551,10.352941,417.166667,239.026786,28.09,1,-0.05,42,5,4
130,71.0,97.000000,36.853929,144.0,94.666667,69.995604,17.000000,35.444444,2.395556,24.000000,...,39.177551,8.100000,417.166667,273.000000,28.09,1,-0.05,6,5,3