In [8]:
import os
import sys
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from torch import nn

print(torch.__version__)

notebook_dir = os.getcwd()

project_root = os.path.abspath(os.path.join(notebook_dir, "../../.."))
print(project_root)
if project_root not in sys.path:
    sys.path.append(project_root)

2.2.2
/Users/damianstone/Documents/Code/machine-learning/dl-sepsis-prediction

In [ ]:
from utils import get_data

DATA_PATH = get_data.get_dataset_abspath()
load_path = os.path.join(DATA_PATH, "Fully_imputed_dataset.parquet")
imputed_df = pd.read_parquet(load_path)

In [ ]:
imputed_df.head(5)

In [ ]:
"SOFA" in imputed_df

In [ ]:
from models.model_B.pre_process_sofa import pre_process_sofa

pre_process_sofa("Fully_imputed_dataset.parquet","big_imputed_sofa.parquet")

In [9]:
from utils import get_data

DATA_PATH = get_data.get_dataset_abspath()
load_path = os.path.join(DATA_PATH, "big_imputed_sofa.parquet")
df = pd.read_parquet(load_path)

In [10]:
"SOFA" in df

True

In [11]:
df.head(5)

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,HospAdmTime,ICULOS,SepsisLabel,patient_id,SOFA
0,102.108491,91.419811,36.919203,128.165094,88.199717,67.007325,24.712264,29.6875,0.091837,22.811236,...,11.509132,360.909091,221.082051,83.14,0,-0.03,1,0,1,3
1,97.000000,95.000000,36.919203,98.000000,75.330000,67.007325,19.000000,29.6875,0.091837,22.811236,...,11.509132,360.909091,221.082051,83.14,0,-0.03,2,0,1,3
2,89.000000,99.000000,36.919203,122.000000,86.000000,67.007325,22.000000,29.6875,0.091837,22.811236,...,11.509132,360.909091,221.082051,83.14,0,-0.03,3,0,1,3
3,90.000000,95.000000,36.919203,122.000000,88.665000,67.007325,30.000000,29.6875,24.000000,22.811236,...,11.509132,360.909091,221.082051,83.14,0,-0.03,4,0,1,3
4,103.000000,88.500000,36.919203,122.000000,91.330000,67.007325,24.500000,29.6875,0.091837,22.811236,...,11.509132,360.909091,221.082051,83.14,0,-0.03,5,0,1,1