## Exploring pre process dataset

In [7]:
import os
import sys
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [8]:
def find_project_root(marker=".gitignore"):
    """
    walk up from the current working directory until a directory containing the
    specified marker (e.g., .gitignore) is found.
    """
    current = Path.cwd()
    for parent in [current] + list(current.parents):
        if (parent / marker).exists():
            return parent.resolve()
    raise FileNotFoundError(f"Project root marker '{marker}' not found starting from {current}")
  
# bring dataset
root = find_project_root()
file_path = f"{root}/dataset/preprocessed_data.parquet"
df = pd.read_parquet(file_path)

In [9]:
df.head(5)

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Creatinine_SD_6h,Creatinine_MA_12h,Creatinine_SD_12h,Platelets_MA_3h,Platelets_SD_3h,Platelets_Delta,Platelets_MA_6h,Platelets_SD_6h,Platelets_MA_12h,Platelets_SD_12h
0,0.315802,0.892748,0.550488,0.386304,0.243570,0.167883,0.239518,0.21875,0.243120,0.41475,...,NaN,0.035605,NaN,0.221139,NaN,NaN,0.221139,NaN,0.221139,NaN
1,0.296154,0.937500,0.550488,0.278571,0.197607,0.167883,0.181818,0.21875,0.243120,0.41475,...,0.0,0.035605,0.0,0.221139,0.0,0.5,0.221139,0.0,0.221139,0.0
2,0.265385,0.987500,0.550488,0.364286,0.235714,0.167883,0.212121,0.21875,0.243120,0.41475,...,0.0,0.035605,0.0,0.221139,0.0,0.5,0.221139,0.0,0.221139,0.0
3,0.269231,0.937500,0.550488,0.364286,0.245232,0.167883,0.292929,0.21875,0.424242,0.41475,...,0.0,0.035605,0.0,0.221139,0.0,0.5,0.221139,0.0,0.221139,0.0
4,0.319231,0.856250,0.550488,0.364286,0.254750,0.167883,0.237374,0.21875,0.243120,0.41475,...,0.0,0.035605,0.0,0.221139,0.0,0.5,0.221139,0.0,0.221139,0.0

In [10]:
# print nan values 
df.isna().sum()

HR                      0
O2Sat                   0
Temp                    0
SBP                     0
MAP                     0
                    ...
Platelets_Delta     40336
Platelets_MA_6h         0
Platelets_SD_6h     40336
Platelets_MA_12h        0
Platelets_SD_12h    40336
Length: 68, dtype: int64

In [6]:
# count columns 
df.shape[1]

67